# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*.pytest_cache

# C extensions
*.so

media/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtual environment
**/*.env
**/*.env.sample
.venv/
venv/
